# Артефакты компиляции
/target/

# Лог-файлы (если появятся)
**/*.rs.bk
*.log

# Временные файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Insta создает файлы предпросмотра при обновлении снимков
*.snap.new