# Артефакты компиляции
/target/

# Лог-файлы (если появятся)
**/*.rs.bk
*.log

# Временные файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Insta создает файлы предпросмотра при обновлении снимков
*.snap.new

# Временные выходные файлы лексера
**/*.tflow.out
**/*.tflow.stderr

# Необходимые ожидаемые файлы для тестов (golden files)
!**/*.expected.out
!**/*.expected.stderr